.sources {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  /* height: 120px; */
  /* height: 270px; */
  height: 290px;
  overflow: auto;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .sources {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .sources {
    /* height: 250px; */
    height: 265px;
    font: 300 0.8em 'Fira Sans', sans-serif;
  }

  .source__item {
    margin: 0.5em;
    padding: 0.8em 1.6em;
    color: #70d6ff;
  }
}

@media (max-height: 768px) {
  .sources {
    height: 215px;
  }
}
